.roboto {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

body {
    background: #f4f4f9;
}

/* Cabeçalho da página index-1.html */
header {
    background: #1e1e1e;
    padding: 1rem;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.nav-header a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    margin: 0 15px;
    transition: color 0.3s;
    text-transform: uppercase;
    font-weight: bold;
}

.nav-header a:hover {
    color: #303030;
}

ul {
    list-style: none;
    padding: 0;
}

/* Rodapé da página index-1.html */
footer {
    margin-top: 2rem;
    padding: 2rem;
    background: #1e1e1e;
    text-align: center;
    color: white;
    font-size: 18px;
}
