header {
    background-color: #1e1e1e;
    padding: 1rem;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.nav-header a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    margin: 0 15px;
    transition: color 0.3s;
    text-transform: uppercase;
}

.nav-header a:hover {
    color: #007bff;
}

ul {
    list-style: none;
    padding: 0;
}

/* 
.titulo-conteudo {
    font-size: 1.5rem; /* 1rem = 16px */
/* font-weight: bold;
    margin: 20px 0;
    text-align: center;
}

.texto-conteudo {
    margin: 1.5rem 0;
    padding: 0 2.5rem 0 2.5rem;
    font-size: 1.1rem;
    line-height: 1.5;
    text-align: justify;
}

.imagem-conteudo {
    display: block;
    max-width: 90%;
    height: auto;
    margin: 20px auto;
    border-radius: 8px;
} 
*/