header {
    background-color: #1e1e1e;
    padding: 1rem;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.nav-header a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    margin: 0 15px;
    transition: color 0.3s;
    text-transform: uppercase;
}

.nav-header a:hover {
    color: #737373;
}

ul {
    list-style: none;
    padding: 0;
}

footer {
    margin-top: 2rem;
    padding: 2rem;
    background-color: #232323;
    text-align: center;
    color: white;
    font-size: 18px;
}
